<div>
    <ng-transclude></ng-transclude>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th ng-repeat="column in columns">{{column.caption}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows" ng-click="selectRow(row)" ng-class="getRowClass(row)">
                <td ng-repeat="column in columns">{{row[column.source]}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="btn-toolbar">
    <button ng-repeat="action in actions" type="button" class="btn btn-primary ml-1" ng-disabled="action.disabled()">{{action.caption}}</button>
</div>