<div>
    <ng-transclude ng-transclude-slot="columnSlot"></ng-transclude>
    <h4 style="text-transform:capitalize">{{title}}</h4>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th ng-repeat="column in columns" class="ok-col-{{column.field.type}}">{{column.field.caption}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows" ng-click="selectRow(row)" ng-class="getRowClass(row)">
                <td ng-repeat="column in columns" class="py-0 ok-col-{{column.field.type}}">
                    <span>{{column.getDisplayValue(row.data)}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="btn-toolbar" ng-transclude="actionSlot">
</div>