<!doctype html>
<html ng-app="application">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/overlook/lib/css/bootstrap.css">
        <link rel="stylesheet" href="/overlook/lib/css/ui-bootstrap.css">
        <link rel="stylesheet" href="/overlook/overlook.css">
        <script src="/overlook/lib/js/jquery.js"></script>
        <script src="/overlook/lib/js/popper.js"></script>
        <script src="/overlook/lib/js/bootstrap.js"></script>
        <script src="/overlook/lib/js/angular.js"></script>
        <script src="/overlook/lib/js/angular-ui-bootstrap.js"></script>
        <script src="/overlook/lib/js/angular-route.js"></script>
        <script src="/overlook/overlook.js"></script>
        <script src="/js/application.js"></script>
    </head>
    <body ng-controller="MainController">
        <div ng-include="appMenuUrl"></div>
        <div ng-view></div>
    </body>
</html>