<div class="modal-header py-1">
    <h4 class="modal-title" style="text-transform:capitalize" id="modal-title">{{$resolve.title}}</h4>
</div>

<div class="modal-body" id="modal-body">
    <form name="form">
            <div class="form-group" ng-repeat="column in $resolve.columns">
                    <label for="{{column.source}}" class="my-0">{{column.caption}}</label>
                    <input type="text" ng-model="$resolve.data[column.source]" class="form-control form-control-sm" id="{{column.source}}" 
                        ng-readonly="$ctrl.readonly(column)" ng-required="$ctrl.required(column)"
                    />
            </div>
        </form>
  </div>

  <div>{{whatsThis|json}}</div>

<div class="modal-footer py-2">
    <button class="btn btn-success" type="button" ng-click="$ctrl.ok()" ng-disabled="form.$invalid">OK</button>
    <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>

