<div class="modal-header py-1">
    <h4 class="modal-title" style="text-transform:capitalize" id="modal-title">{{title}}</h4>
</div>

<div class="modal-body" id="modal-body">
    <form name="form">
        <div ng-repeat="column in columns">
            <ok-any-widget ok-metadata="column" ok-data="data.data"/>
        </div>
    </form>
</div>

<div class="modal-footer py-2">
    <button class="btn btn-success" type="button" ng-click="ok()" ng-disabled="form.$invalid">OK</button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
</div>

