<ok-menu-bar caption="ORGANIZATION">
    <ok-menu-group caption="Reporting">
        <ok-menu-item caption="My Calendar"></ok-menu-item>
        <ok-menu-item caption="Query"></ok-menu-item>
    </ok-menu-group>
    <ok-menu-group caption="Management">
        <ok-menu-item caption="Calendar"></ok-menu-item>
        <ok-menu-item caption="Query"></ok-menu-item>
    </ok-menu-group>
    <ok-menu-group caption="Administration">
        <ok-menu-item caption="People" page="people"></ok-menu-item>
        <ok-menu-item caption="Customers" page="customers"></ok-menu-item>
        <ok-menu-item caption="Features" page="features"></ok-menu-item>
        <ok-menu-item caption="Holidays"></ok-menu-item>
    </ok-menu-group>
</ok-menu-bar>
