<lk-menu caption="ORGANIZATION">
    <lk-menu-group caption="Reporting">
        <lk-menu-item caption="My Calendar"></lk-menu-item>
        <lk-menu-item caption="Query"></lk-menu-item>
    </lk-menu-group>
    <lk-menu-group caption="Management">
        <lk-menu-item caption="Calendar"></lk-menu-item>
        <lk-menu-item caption="Query"></lk-menu-item>
    </lk-menu-group>
    <lk-menu-group caption="Administration">
        <lk-menu-item caption="People" page="people"></lk-menu-item>
        <lk-menu-item caption="Customers" page="customers"></lk-menu-item>
        <lk-menu-item caption="Holidays"></lk-menu-item>
    </lk-menu-group>
</lk-menu>
