<ok-entity ok-name="customer" ok-source="getCustomers" ok-caption-single="customer" ok-caption-multiple="customers">
    <ok-list>
        <ok-field ok-name="code" ok-caption="Code" ok-field-usage="pk"/>
        <ok-field ok-name="name" ok-caption="Full Name" ok-field-usage="title"/>
        <ok-field ok-name="unblocked" ok-caption="Not Blocked" ok-data-type="boolean"/>
        <ok-field ok-name="since" ok-caption="Since" ok-data-type="date"/>
        <ok-list-action ok-action-class="create"/>
        <ok-list-action ok-action-class="edit"/>
        <ok-list-action ok-action-class="link" ok-caption="Features" ok-page="features"/>
        <ok-list-action ok-action-class="delete"/>
    </ok-list>
</ok-entity>





